# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

.prettierignore

# Build output
dist/
build/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


# Temporary files
tmp/
temp/
